:root {
  --light: #c5c6c8;
  --dark: #0b0c10;
  --bright: #66fcf1;
  --medium: #4dc0bb;
  --correct: green;
  --wrong: red;
}

* {
  background-color: var(--dark);
  font-size: 1rem;
}

header {
  display: inline;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

/*High Score Button */
#high_scores {
  text-align: right;
}

body {
  color: var(--light);
  font-family: monospace;
  text-align: center;
}

/* Headings of welcome, game over, and high score page */
h1,
#game_over_title,
#high_score_title {
  color: var(--bright);
  font-size: 2.2em;
  font-family: 'Silkscreen', cursive;
}

h2 {
  color: var(--bright)
}

/* Each section is centered */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Each section has their elements centered in the viewport */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons expand to fit content, have some margin and padding to make bigger*/
button {
  background-color: #66fcf1;
  color: var(--dark);
  border-right: 3px solid var(--medium);
  border-bottom: 3px solid var(--medium);
  font-family: monospace;
  height: fit-content;
  width: fit-content;
  padding: 1em;
  margin: 1em;
}

#good_luck {
  color: var(--bright);
  font-style: italic;
}

#answer_options {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game_over form,
#gamve_over p {
  padding: 20px;
}

input {
  color: var(--light);
}

/* Rendered pages hidden and visible */
[data-state = "hidden"] {
  display: none;
} 

[data-state = "visible"] {
  display: block;
}