header {
  display: inline;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

/*High Score Button */
#high_scores {
  text-align: right;
}

#high_scores {
  text-decoration: none;
}

body {
  font-family: monospace;
  text-align: center;
}

/* Each section is centered horizantally and vertically*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Each section has their elements centered in the viewport */
section {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons display in a collumn in the center */
.answer_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons expand to fit content, have some margin and padding to make bigger*/
button {
  font-family: monospace;
  height: fit-content;
  width: fit-content;
  padding: 1em;
  margin: 1em;
}

/* Rendered pages hidden and visible */
[data-state = "hidden"] {
  display: none;
} 

[data-state = "visible"] {
  display: block;
}